[package]
name = "reth_gnosis"
version = "0.1.0"
edition = "2021"

[lib]
name = "reth_gnosis"
path = "src/lib.rs"

[[bin]]
name = "reth"
path = "src/main.rs"

[dependencies]
reth = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-codecs = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-evm = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-revm = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-engine-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-node-builder = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-evm-ethereum = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-ethereum-consensus = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-chain-state = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-consensus = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-cli = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-cli-commands = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-cli-util = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-prune-types = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-basic-payload-builder = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-payload-builder = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-ethereum-forks = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-ethereum-payload-builder = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-ethereum-engine-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-ethereum-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-fs-util = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-provider = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1", features = [
    "test-utils",
] }
reth-primitives-traits = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-errors = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-db = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-db-api = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-db-common = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-network-peers = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-eth-wire-types = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-stages = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-stages-api = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-stages-types = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-trie = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-trie-db = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }
reth-transaction-pool = { git = "https://github.com/paradigmxyz/reth", rev = "f0051e1" }

# gnosis-primitives = { git = "https://github.com/gnosischain/gnosis-stuff.git", rev = "09cd64b" }
gnosis-primitives = { path = "../gnosis-stuff"}

eyre = "0.6"
clap = { version = "4.5.6", features = ["derive"] }
derive_more = { version = "2", default-features = false, features = ["full"] }

# revm
revm = { version = "27.0.3", features = ["std"], default-features = false }
revm-database = { version = "7.0.1", default-features = false }
revm-state = { version = "7.0.1", default-features = false }
revm-primitives = { version = "20.0.0", features = [
    "std",
], default-features = false }
revm-inspectors = "0.27.1"

serde = { version = "1.0", features = ["derive"], default-features = false }
serde_json = "1.0.94"
serde_with = "3.3.0"
hex = "0.4.3"
walkdir = "2.3.3"
thiserror = { version = "2.0.0", default-features = false }
thiserror-no-std = { version = "2.0.2", default-features = false }

# eth
alloy-chains = { version = "0.2.5", default-features = false }
alloy-evm = { version = "0.16", default-features = false }
alloy-dyn-abi = "1.3.0"
alloy-primitives = { version = "1.3.0", default-features = false }
alloy-network = { version = "1.0", default-features = false }
alloy-rpc-types-eth = { version = "1.0", default-features = false }
alloy-rlp = { version = "0.3.10", default-features = false }
alloy-sol-types = "1.3.0"
alloy-trie = { version = "0.9.0", default-features = false }

alloy-consensus = { version = "1.0.23", default-features = false }
alloy-eips = { version = "1.0.23", default-features = false }
alloy-genesis = { version = "1.0.23", default-features = false }
alloy-sol-macro = "1.3.0"
alloy-serde = { version = "1.0.23", default-features = false }
rayon = "1.7"

tracing = "0.1.0"
reqwest = "0.12"
tokio = "1"
anyhow = "1.0.98"
indicatif = "0.17"
zstd = "0.12"

[target.'cfg(unix)'.dependencies]
tikv-jemalloc-ctl = "0.6"
tikv-jemallocator = { version = "0.6", optional = true }
libc = "0.2"

[features]
default = ["jemalloc"]
jemalloc = ["dep:tikv-jemallocator"]
testing = []
failing-tests = []
serde = []

# Or patch a git dependency
# [patch."https://github.com/paradigmxyz/reth"]
# reth = { path = "../reth/bin/reth" }
# reth-codecs = { path = "../reth/crates/storage/codecs" }
# reth-evm = { path = "../reth/crates/evm/evm" }
# reth-revm = { path = "../reth/crates/revm" }
# reth-engine-primitives = { path = "../reth/crates/engine/primitives" }
# reth-node-builder = { path = "../reth/crates/node/builder" }
# reth-node-ethereum = { path = "../reth/crates/ethereum/node" }
# reth-evm-ethereum = { path = "../reth/crates/ethereum/evm" }
# reth-ethereum-consensus = { path = "../reth/crates/ethereum/consensus" }
# reth-chainspec = { path = "../reth/crates/chainspec" }
# reth-chain-state = { path = "../reth/crates/chain-state" }
# reth-consensus = { path = "../reth/crates/consensus/consensus" }
# reth-cli = { path = "../reth/crates/cli/cli" }
# reth-cli-commands = { path = "../reth/crates/cli/commands" }
# reth-cli-util = { path = "../reth/crates/cli/util" }
# reth-prune-types = { path = "../reth/crates/prune/types" }
# reth-basic-payload-builder = { path = "../reth/crates/payload/basic" }
# reth-payload-builder = { path = "../reth/crates/payload/builder" }
# reth-ethereum-forks = { path = "../reth/crates/ethereum/hardforks" }
# reth-ethereum-payload-builder = { path = "../reth/crates/ethereum/payload" }
# reth-ethereum-engine-primitives = { path = "../reth/crates/ethereum/engine-primitives" }
# reth-ethereum-primitives = { path = "../reth/crates/ethereum/primitives" }
# reth-fs-util = { path = "../reth/crates/fs-util" }
# reth-provider = { path = "../reth/crates/storage/provider" }
# reth-primitives-traits = { path = "../reth/crates/primitives-traits" }
# reth-errors = { path = "../reth/crates/errors" }
# reth-db = { path = "../reth/crates/storage/db" }
# reth-db-api = { path = "../reth/crates/storage/db-api" }
# reth-db-common = { path = "../reth/crates/storage/db-common" }
# reth-network-peers = { path = "../reth/crates/net/peers" }
# reth-eth-wire-types = { path = "../reth/crates/net/eth-wire-types" }
# reth-rpc = { path = "../reth/crates/rpc/rpc" }
# reth-stages = { path = "../reth/crates/stages/stages" }
# reth-stages-api = { path = "../reth/crates/stages/api" }
# reth-stages-types = { path = "../reth/crates/stages/types" }
# reth-primitives = { path = "../reth/crates/primitives" }
# reth-tracing = { path = "../reth/crates/tracing" }
# reth-trie = { path = "../reth/crates/trie/trie" }
# reth-trie-db = { path = "../reth/crates/trie/db" }
# reth-transaction-pool = { path = "../reth/crates/transaction-pool" }