name: Test

on:
  pull_request:
  push:
    branches:
      - master

env:
  REQWEST_TEST_BODY_FULL: 1
  RUST_BACKTRACE: 1

jobs:
  post-merge-run:
    name: Test post merge run
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust || 'stable' }}
          targets: ${{ matrix.target }}
      - name: Setup docker (missing on MacOS)
        if: runner.os == 'macos'
        run: |
          brew install docker
          brew install docker-buildx
      - name: Test jq is installed
        run: jq --help
      - name: Install jwt and add to path
        run: cargo install jwt-cli && export PATH=$HOME/.cargo/bin:$PATH
      # Vectors are already generated, but this serves as a test
      - name: Generate vectors
        run: bash ./scripts/generate_test_vectors_nethermind.sh
      # Test vectors against nethermind
      - name: Apply vectors to Nethermind
        run: bash ./scripts/apply_test_vectors_nethermind.sh
      # Test vectors against Reth
      - name: Apply vectors to Reth
        run: bash ./scripts/apply_test_vectors_reth.sh


